.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.primary {
    background-color: #007bff;
    color: #FFF;
}

.card-counter.danger {
    background-color: #ef5350;
    color: #FFF;
}

.card-counter.success {
    background-color: #66bb6a;
    color: #FFF;
}

.card-counter.info {
    background-color: #26c6da;
    color: #FFF;
}



.card-counter i {
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.sec-title {
    position: relative;
    margin-bottom: 45px;
}

.sec-title .title {
    position: relative;
    color: #84858a;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.sec-title .title:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 6px;
    height: 6px;
    background-color: #f43737;
}

.sec-title h1 {
    position: relative;
    color: #242f6c;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: capitalize;
    -webkit-mask-image: linear-gradient(-75deg, rgba(244, 55, 55, 0.6) 50%, #f43737 50%, rgba(0, 0, 0, 1) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.sec-title.centered {
    text-align: center;
}

.sec-title.centered .text {
    max-width: 580px;
    margin: 0 auto;
}

.sec-title .title.light::before {
    background-color: #ffffff;
}

.sec-title.light .title,
.sec-title.light h2,
.sec-title.light .text {
    color: #ffffff;
}

.sec-title.centered .title:before {
    left: 50%;
    margin-left: -3px;
}