<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load pwa %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        
    {% endblock title %}
</title>
{% progressive_web_app_meta %}
    {% block basecss %}{% endblock basecss %}
    {% block extracss %}{% endblock extracss %}
            
    
    
</head>
<body>
    {%block nav%}  
    {%endblock nav%}
    
    {%block content%} 
    {%endblock content%}
    
    {%block footer%}  
    {%endblock footer%}
    
    {% block basejs %}{% endblock basejs %}
    
    {% block extrajs %}{% endblock extrajs %}
        
        
</body>
</html>
