{% extends 'administrator/base.html' %}


{% block title %}
    Category Details - {{categories}}
{% endblock title %}



{% block content %}
<br>
<div class="container-fluid" >
    <div style="margin-left:60px;">
        <br>
    <div class="container border shadow rounded">
        
        <div class="jumbotron my-auto mx-auto">
            <br>
        
        <h1 class="text-center">Details of Category <strong>{{categories}}<strong></h1>
            <br>
            <h3 class="text-center">Category Id : {{categories.id}}</h3>
            <h3 class="text-center">Category Name : {{categories.name}}</h3>
            <h3 class="text-center">Description : {{categories.description}}</a></h3>
            <h3 class="text-center">Commission : {{categories.commission}} %</h3>
            
            <div class="d-flex flex-wrap align-content-center text-center mx-auto">
                    <h3 class="text-center">Tags :&nbsp;</h3>
                  {% for tag in tags %}
             
                  <h5 class="btn-black mb-1 d-flex p-2 text-center" style="border-radius: 10px;">
                   {{tag}}
                  </h5>
                 &nbsp;
                 {% endfor%}
   
                 </div>
                 <div class="d-flex flex-wrap align-content-center text-center mx-auto">
                    <h3 class="text-center">Sub Categories :&nbsp;</h3>
                  {% for sc in subcat %}
             
                  <h5 class="btn-black mb-1 d-flex p-2 text-center" style="border-radius: 10px;">
                   {{sc}}
                  </h5>
                 &nbsp;
                 {% endfor%}
   
                 </div>     <br>
                 {% if categories.is_digital %}
                    <h2 class="bg-primary p-2 text-center"  style="border-radius: 20px;">
                        <i class="fa fa-check-circle"></i> DIGITAL
                    </h2>
                    {% else %}
                    <h2 class="bg-primary mx-4 p-2 text-center" style="border-radius: 20px;">
                        <i class="fa fa-times-circle"></i> NOT DIGITAL
                    </h2>
                    {% endif%}
        </div>
        <br>
    </div>
    <br>
    </div>
</div>
<br>

    {% endblock content %}
    