{% extends 'administrator/base.html' %}
{% block title %}
    List Tickets
{% endblock title %}



{% block content %}
<div class="container-fluid" >
    <div style="margin-left:60px;">
    
    <br>    
    <h2 class="text-center font-bold">All Support Tickets</h2>
    <hr>
    <div class="table-responsive justify-content-center">
        <table class="table table-bordered m-2 mx-auto justify-content-center" id="support_table" >
            <thead class="table-thead text-center">
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Details</th>
                
            </thead>
            <tbody class="text-center">
                {% for ticket in tickets %}
                <tr>
                    <td><h5>{{ticket.id}}</h5></td>
                    <td><h5>{{ticket.name}}</h5></td>
                    <td><h5>{{ticket.email}}</h5></td>
                    <td><h5><a href=" {% url 'admin_detail_support' ticket.id %} ">Check Details For Ticket {{ticket.id}}</a></h5></td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    </div>
</div>
    
{% endblock content %}
{% block extrajs %}
    <script>
        $(document).ready( function () {
    $('#support_table').DataTable();
} );
    </script>
{% endblock extrajs %}    