{% extends 'administrator/base.html' %}

{% block title %}
    List Sub Categories
{% endblock title %}



{% block content %}
<div class="container-fluid" >
    <div style="margin-left:60px;">
    
    <br>    
    <h2 class="text-center font-bold">All Subcategories</h2>
    <hr>
    {% for message in messages%}
    <div class="alert alert-primary alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><i class="fa fa-check-circle-o"></i> {{message}}</strong>
    </div>
    {% endfor %}
    <a class="btn btn-black btn-lg btn-block" href="{% url 'admin_create_subcategory'%}"><i class="fa fa-plus"></i> Add Subcategory</a>
    <br><br>
    <div class="table-responsive justify-content-center">
        <table class="table table-bordered m-2 mx-auto justify-content-center" id="subcategory_table" >
            <thead class="table-thead text-center">
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                
                <th>Actions</th>
            </thead>
            <tbody class="text-center">
                {% for category in categories %}
                <tr>
                    <td><h5>{{category.id}}</h5></td>
                    <td><h5><a href=" {% url 'admin_detail_subcategory' category.id %} ">{{category}}</a></h5></td>
                    <td><h5><a href=" {% url 'admin_detail_category' category.parent.id %} ">{{category.parent}}</a></h5></td>
                    
                    <td class="justify-content-center">
                        <a class="btn btn-warning mr-sm-2 mb-sm-1 justify-content-center" href="{% url 'admin_update_subcategory' category.id %}"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger mr-sm-2 mb-sm-1 justify-content-center" href="{% url 'admin_delete_subcategory' category.id %}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    </div>
</div>
   
{% endblock content %}
{% block extrajs %}
    <script>
        $(document).ready( function () {
    $('#subcategory_table').DataTable();
} );
    </script>
{% endblock extrajs %}    